<?xml version="1.0"?>
<!--
/**
 * Copyright © Elie. All rights reserved.
 * Dependency Injection configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 
    <!-- Plugin to override country name -->
    <type name="Magento\Directory\Model\Country">
        <plugin name="elie_country_label_override"
                type="ElielWeb\CountryLabel\Plugin\Directory\Model\CountryPlugin"
                sortOrder="10"/>
    </type>
 
</config>
